[user]
	name = prasannashrestha011
	email = shresthaprashanna27@gmail.com
[safe]
	directory = /mnt/New Volume/Java/ShopEase
	directory = /mnt/New Volume/MyPortofoilo
	directory = /mnt/New Volume/MachineLearning
	directory = /mnt/New Volume/Projects/FileSharing
	directory = /mnt/New Volume/Projects/ExpressTs
	directory = /mnt/New Volume/Projects/ExpressTs/server
	directory = /mnt/New Volume/Projects/express-authentication
	directory = /mnt/New Volume/Projects/mailing-system
	directory = /mnt/New Volume/Projects/logicBoardReact
	directory = /mnt/New Volume/Projects/logicBoard2
	directory = /mnt/New Volume/Projects/Nvim_setup
	directory = /mnt/sda1/Projects/go-server
	directory = /mnt/sda1/Projects/react_native
	directory = /mnt/sda1/Projects/springboot
	directory = /mnt/sda1/Projects/Scheduler
	directory = /mnt/sda1/Projects/reactnativecli/main
	directory = /mnt/sda1/Projects/reactnativecli
	directory = /mnt/sda1/Projects/machine-learning
	directory = /mnt/sda1/MyPortofoilo
	directory = /mnt/sda1/Projects/MyPortofoilo
	directory = /mnt/sda1/Projects/fastapi
	directory = /mnt/sda1/Projects/pixel_mail
	directory = /mnt/sda1/Projects/Summarizer_AI_Assistant
	directory = /mnt/sda1/Projects/Python/Django/server
	directory = /mnt/sda1/Projects/Python/discord_bot
	directory = /mnt/sda1/Projects/go/cli
	directory = /mnt/sda1/Projects/go/git_simulation
	directory = /mnt/sda1/Projects/Defold/animation
	directory = /mnt/sda1/Projects/portfoliobuilder
	directory = /mnt/sda1/Projects/C_learning
	directory = /mnt/sda1/Projects/sqlclone
	directory = *
[credential]
	helper = store
